<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Now Playing</div>

                <div class="cuadro_intro_hover">
                    <div>
                        <img ng-src="{{stream.current.image}}" class="img-responsive" alt="{{song.title}}"
                             ng-show="streamMetaAvailable">
                        <img class="img-responsive:alt" src="/img/logo.png" alt="Stream meta is not available"
                             ng-hide="streamMetaAvailable"/>
                    </div>

                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">

                            <h3 ng-show="streamMetaAvailable">{{stream.current.title | characters:35 }}</h3>

                            <h3 ng-hide="streamMetaAvailable">Stream meta is not available</h3>

                            <!-- Track Information -->
                            <table class="table table-condensed" ng-show="streamMetaAvailable">
                                <caption>{{stream.current.title}}</caption>
                                <tr>
                                    <td> by
                                        <span ng-show="stream.current.twitter_name == ''">{{stream.current.artist}}</span>
                                        <a ng-show="stream.current.twitter_name != ''"
                                           ng-href="http://twitter.com/{{stream.current.artist}}"
                                           target="_blank">
                                            {{stream.current.artist}}
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <!-- Track Buttons-->
                            <p class="track-buttons" ng-show="streamMetaAvailable">
                                <button class="btn btn-primary"
                                        title="Add To Favorites"
                                        ng-click="addToFavorites(stream.current)"
                                        ng-disabled="trackIsFavorite(stream.current)"
                                        ng-show="userService.isLoggedIn()">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <a class="btn btn-default"
                                   ng-href="{{stream.current.link}}"
                                   target="_blank"
                                   title="Track Info">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Previous Tracks</div>
                <div ng-hide="streamMetaAvailable">
                    <div class="well well-lg" style="text-align:center;">
                        <img src="/img/logo.png" alt="Stream Meta is unavailable" height="150"/>

                        <p class="lead">Stream Meta is unavailable.</p>
                    </div>
                </div>
                <div ng-show="streamMetaAvailable">
                    <div class="cuadro_intro_hover" ng-repeat="song in stream.previous">
                        <div>
                            <img ng-src="{{ song.image }}" class="img-responsive" alt="{{song.title}}">
                        </div>

                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3>{{song.title | characters:35 }}</h3>

                                <table class="table table-condensed">
                                    <caption>{{song.title}}</caption>
                                    <tr>
                                        <td> by
                                            <span ng-show="song.twitter_name == ''">{{song.artist}}</span>
                                            <a ng-show="song.twitter_name != ''"
                                               ng-href="http://twitter.com/{{song.artist}}"
                                               target="_blank">
                                                {{song.artist}}
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <p class="track-buttons">
                                    <a class="btn btn-default" ng-href="{{song.link}}" target="_blank">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

            <!-- Favorites Panel -->
            <div class="panel panel-default panel-leaders">
                <div class="panel-heading">My Favorites</div>
                <table class="table table-condensed">
                    <tr ng-repeat="track in favorites">
                        <td class="leader-image">
                            <img ng-src="{{track.image}}" class="img-responsive img-circle" width="50"
                                 style="padding:0px;margin:0px;"/>
                        </td>
                        <td class="leader-info">
                            <a class="leader-title" href="{{track.link}}" target="_blank">{{track.title}}</a>
                            <br/>
                            by
                            <span class="leader-artist" ng-show="track.twitter_name == ''">{{track.artist}}</span>
                            <a class="leader-artist" ng-show="track.twitter_name != ''"
                               ng-href="http://twitter.com/{{track.artist}}"
                               target="_blank">
                                {{track.artist}}
                                <i class="fa fa-twitter"></i>
                            </a>
                        </td>
                        <td class="leader-timeago">
                            <small>{{ track.pivot.created_at | timeago }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- End Favorites Panel -->

        </div>
    </div>
</div>