<div class="container">
    <div class="page-header">
        <h2>Feel the love...</h2>
    </div>
    <p class="lead">
        Listeners with the most <i class="fa fa-heart"></i> (This Month)
    </p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Rank</td>
            <td>Listener</td>
            <td><i class="fa fa-heart"></i></td>
            <td>Last Love</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="leader in leaders.users.this_month">
            <td>10</td>
            <td>
                <img ng-src="{{leader.display_image}}"
                     height="20" width="20">
                {{leader.user.username}}
            </td>
            <td>
                {{leader.hearts}}
            </td>
            <td>
                <img ng-src="{{leader.last_heart.image}}" height="20" width="20"/>
            </td>
        </tr>
        </tbody>
    </table>

    <p class="lead">
        Listeners with the most <i class="fa fa-heart"></i> (All Time)
    </p>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" ng-repeat="leader in leaders.users.all_time">
            <div class="well">
                <div class="media">
                    <a class="pull-left" ng-href="https://twitter.com/{{leader.user.twitter_name}}" target="_blank">
                        <img class="media-object"
                             ng-src="{{leader.display_image}}"
                             alt="{{leader.last_heart.title}}"
                             height="75" width="75">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{leader.user.username}}</h4>

                        <p>{{leader.hearts}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="lead">
        Tracks with the most <i class="fa fa-heart"></i> (This Month)
    </p>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="leader in leaders.tracks.all_time">
            <div class="well">
                <div class="cuadro_intro_hover">
                    <p style="text-align:center;">
                        <img ng-src="{{leader.track.image}}" class="img-responsive" alt="{{leader.track.title}}">
                    </p>

                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">

                            <h3>{{leader.track.title | characters:35 }}</h3>

                            <!-- Track Information -->
                            <table class="table table-condensed">
                                <caption>{{leader.track.title}}</caption>
                                <tr>
                                    <td> by
                                        <span ng-show="leader.track.twitter_name == ''">{{leader.track.artist}}</span>
                                        <a ng-show="leader.track.twitter_name != ''"
                                           ng-href="http://twitter.com/{{leader.track.artist}}"
                                           target="_blank">
                                            {{leader.track.artist}}
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p class="track-buttons">
                                <a class="btn btn-default"
                                   ng-href="{{link.track.link}}"
                                   target="_blank">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>