<div class="container">
    <div class="page-header">
        <h2>Terms of Service</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed dictum nisl. Sed sed dignissim nibh.
                Donec in lacinia est. Duis luctus in enim ac tristique. Cras rutrum ligula metus, nec interdum ipsum
                porttitor et. Ut cursus erat rutrum rutrum accumsan. Quisque at felis lorem. Integer sit amet tristique
                massa, porttitor posuere lacus. Cras imperdiet eros nec nibh aliquet, ac viverra elit dignissim.
                Suspendisse
                vel sapien rutrum nunc porttitor aliquam. Morbi justo libero, bibendum et malesuada non, lobortis non
                justo.
                Sed ut lacinia neque, nec auctor diam.</p>

            <p>
                In at bibendum dui, eu lacinia lacus. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra,
                per inceptos himenaeos. Donec orci purus, ultricies in tortor vitae, accumsan feugiat purus. Sed
                malesuada
                erat condimentum tortor cursus tristique. Fusce tortor nisi, pulvinar sit amet venenatis eu, varius
                pellentesque ligula. Maecenas viverra sagittis massa, sed consequat mi mattis eu. Sed et rhoncus quam,
                ut
                scelerisque magna. Morbi purus lorem, congue eu volutpat sed, accumsan et metus. Etiam sed nibh vitae
                sem
                pharetra mattis. Nunc a libero vitae massa viverra adipiscing quis in turpis. Pellentesque at
                sollicitudin
                eros, sit amet gravida felis. Sed euismod tempus euismod.
            </p>

            <p>
                Sed ut quam mollis, semper lorem quis, varius ante. Duis nibh lorem, fermentum et orci vel, suscipit
                commodo
                dui. Sed est orci, congue eu dui in, luctus laoreet dolor. Aliquam id facilisis mauris. Donec tristique
                odio
                odio, ac ultrices eros blandit a. Praesent et facilisis arcu. Proin dui ligula, sagittis adipiscing
                risus
                et, posuere tempor velit. Nunc lacinia nec ipsum ut tempus.
            </p>

            <p>
                Nam egestas enim at condimentum tempus. Donec lacinia purus dapibus, malesuada purus vel, sagittis leo.
                Sed
                tempor porta metus, iaculis malesuada sem porta vitae. Etiam vulputate mi sed luctus vestibulum.
                Phasellus
                vestibulum metus eget ligula pharetra volutpat. Integer tempus mollis leo quis iaculis. Maecenas ut
                augue
                quis leo fringilla fermentum luctus a massa. Praesent interdum tortor quis magna porta volutpat. Fusce
                ac
                posuere diam, et porttitor lectus. Sed eleifend hendrerit enim, ut ultricies magna venenatis ut.
                Phasellus
                faucibus viverra orci, vel vehicula enim luctus nec. Donec dapibus lorem et metus gravida, nec lobortis
                tellus semper. Sed sit amet lorem bibendum turpis ornare vestibulum. Maecenas convallis nisi quis dui
                condimentum, ut posuere tortor fringilla. Curabitur lobortis quis diam eget congue. Sed iaculis tellus
                justo, ut varius
                magna
                feugiat
                eu.
            </p>


        </div>
    </div>
</div>