﻿@import "bootstrap/bootstrap.less";
@import "cyborg/bootswatch.less";
@import "player.less";

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Vermin Vibes Redux Regular";
  src: url("/fonts/vermin_vibes_redux.eot?") format("eot"), url("/fonts/vermin_vibes_redux.woff") format("woff"), url("/fonts/vermin_vibes_redux.ttf") format("truetype"), url("/fonts/vermin_vibes_redux.svg#Vermin-Vibes-Redux") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
* Global Elements
*/
body {
  padding-top: 70px;
  padding-bottom: 150px;
}

a {
  cursor: pointer;
}

/* navbars */
#navbar-main {
  .navbar-brand {
    font-family: "Vermin Vibes Redux Regular";
    font-size: 40px;
    color: @gray;
  }

  .navbar-profile-img {
    border-radius: 2px;
  }
}

#navbar-footer {
  border-color: #333;
  border-width: 2px;
  #gradient > .radial(#222, #333);
  .navbar-form {
    padding: 0px;
    border: none !important;
  }
}

.container {
  max-width: 900px;
}

.masthead {
  margin-top: -20px;
  padding: 60px 0px;
  margin-bottom: 40px;
  border-bottom: 2px inset #333;
  #gradient > .radial(#222, #333);
  p.lead {
    color: #ccc;
    margin: 0px;
    padding: 40px 0px 0px 0px;
  }
  h1 {
    font-family: "Vermin Vibes Redux Regular";
    color: #fff;
    font-size: 120px;
    margin: 0px;
    line-height: 50px;
  }
}

.page-header {
  border-color: @gray;
  margin-top: 0px;
}

.panel-leaders {
  .leader-image {
    width: 60px;
    padding-top: 10px;
    img {
      width: 50px;
    }
  }

  .leader-image {

  }

  .leader-image-small {
    width: 40px;
    padding:5px;
    img {
      width: 30px !important;
      height: 30px !important;
    }
  }

  .leader-info {

    font-size: 14px;

    .leader-title {
      font-size: 22px;
      color: #fff;
      &:hover {
        color: @red;
      }
    }

    .leader-artist {
      color: #fff;
      &:hover {
        color: @red;
      }
    }

    .leader-username {
      display: inline-block;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: @red;
      }
    }
  }

  .leader-heart {
  }

  .leader-timeago {
     min-width: 100px;
    text-align: right;
  }
}

.cuadro_intro_hover {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 200px;

  cursor: pointer;
}

.cuadro_intro_hover:hover .caption {
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
  z-index: 4;
  width: 100%;
}

.cuadro_intro_hover .caption {
  position: absolute;
  top: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.cuadro_intro_hover .blur {
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.cuadro_intro_hover .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top: -20px;
  width: 100%;

  h3 {
    background: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    line-height: 25px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 11.5px;
    margin-bottom: 0px;

    color: #fff;
  }

  p {
    font-size: 12px;

  }

  p.track-buttons {
    margin-top: 10px;
  }

  table {
    margin: 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    border-color: #999;
    background: transparent;
    caption {
      font-size: 12px;
      padding: 5px 0px;
      border-color: #999;
    }
    tr {
      border-color: #999;
      margin: 0px;
      td {
        border-color: #999;
        font-size: 12px;
        text-align: center;
        a {
          color: #fff;
        }
      }
    }
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-sm-min) {

  .masthead {
    padding: 20px;
    h1 {
      font-size: 60px;
    }
    p.lead {
      margin-top: 0px;
      padding-top: 0px;
    }
  }

  .panel-leaders {
    .leader-image {
      width: 50px;
      padding-top: 10px;
    }

    .leader-info {

      font-size: 11px;
      .leader-title {
        font-size: 14px;
        color: @red;
      }

      .leader-artist {

      }

      .leader-username {
        font-size: 20px;
      }
    }

    .leader-heart {
    }
  }

  // login button needs to be wide for mobile
  .nav-twitter {
    padding: 0px 5px;
    button {
      width: 100%;
    }
  }

  // center navbar player
  #navbar-footer {
    padding: 0px !important;
    .container {
      padding: 0px !important;
    }
    .navbar-right {
      float: none;
      clear: none;
      text-align: center;
      margin-left: -20px;
      border-color: #333;
      .form-navbar {
        border-color: #333;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}